
@{
    ViewBag.Title = "Главная страница";
}

<div class="row">
    <div class="col-md-9">
        <div class="product-info">
            <img src="~/img/845px-Vincent_van_Gogh_-_Self-portrait_with_grey_felt_hat_-_Google_Art_Project.jpg" />
            <h3>Чувак</h3>
            <ul class="product-props">
                <li>Цена: $9.99</li>
                <li>Художник: Ван Гог</li>
                <li>Название: </li>
                <li>Описание: Личный портрет</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Купить</button>
        </div>
       
    </div>

    <div class="col-md-3"> <p>Это сайт для покупки картин</p></div>
</div>
